<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{scaffold}">
<head>
    <title layout:fragment="title">Profile Edit</title>
</head>
<section layout:fragment="content">
    <div th:replace="~{fragments/mobile-nav :: mobile-navbar('profile')}"></div>
    <div class="d-flex">
        <div th:replace="~{fragments/sidebar :: sidebar('profile')}"></div>
        <div class="container">
            <div class="container-fluid p-3 d-flex flex-column">

                <h1 class="trend-title mb-4" th:text="#{profile.edit.title}">Profil bearbeiten</h1>

                <div class="card shadow-sm mb-4">
                    <div class="card-body">
                        <form th:action="@{/user/profile/edit}" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label" th:text="#{profile.edit.name}">Name</label>
                                <input type="text" id="name" class="form-control w-100" name="name"
                                       th:value="${user.name}" required>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label" th:text="#{profile.edit.email}">E-Mail</label>
                                <input type="email" id="email" class="form-control w-100" name="email"
                                       th:value="${user.email}" required>
                            </div>

                            <div class="d-flex gap-4">
                                <button type="submit" class="btn btn-primary mt-3"
                                        th:text="#{profile.edit.button.save}">Speichern
                                </button>
                                <a th:href="@{/user/profile}" class="btn btn-secondary mt-3"
                                   th:text="#{profile.edit.button.cancel}">Abbrechen</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>