<div xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
     th:fragment="certifyBtn(movieId, certified)">
    <button sec:authorize="hasAuthority('admin')"
            th:if="${!certified}"
            type="button"
            class="btn btn-outline-secondary w-100"
            th:title="#{certify.btn.certify.title}"
            th:text="#{certify.btn.certify} + ' 💣'"
            th:hx-post="@{/admin/certified/add/{movieId}(movieId=${movieId})}"
            hx-target="this"
            hx-swap="outerHTML">
    </button>
    <button sec:authorize="hasAuthority('admin')"
            th:if="${certified}"
            type="button"
            class="btn btn-primary w-100"
            th:title="#{certify.btn.certified.title}"
            th:text="#{certify.btn.certified} + ' 💣'"
            th:hx-delete="@{/admin/certified/remove/{movieId}(movieId=${movieId})}"
            hx-target="this"
            hx-swap="outerHTML">
        Certified &#128163;
    </button>
</div>