<div xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
     th:fragment="certifyBtn(movieId, certifiedBangerStatus)">
    <button sec:authorize="hasAuthority('admin')"
            th:if="${certifiedBangerStatus == T(com.swdev.springbootproject.model.dto.MediaDto.CertifiedBangerStatus).NOT_CERTIFIED}"
            type="button"
            class="btn btn-outline-secondary w-100"
            th:title="#{certify.btn.certify.title}"
            th:text="#{certify.btn.certify} + ' 💣'"
            th:hx-post="@{/admin/certified/add/{movieId}(movieId=${movieId})}"
            hx-target="this"
            hx-swap="outerHTML">
    </button>
    <button sec:authorize="hasAuthority('admin')"
            th:if="${certifiedBangerStatus == T(com.swdev.springbootproject.model.dto.MediaDto.CertifiedBangerStatus).CERTIFIED}"
            type="button"
            class="btn btn-primary w-100"
            th:title="#{certify.btn.certified.title}"
            th:text="#{certify.btn.certified} + ' 💣'"
            th:hx-delete="@{/admin/certified/remove/{movieId}(movieId=${movieId})}"
            hx-target="this"
            hx-swap="outerHTML">
        Certified &#128163;
    </button>

    <form sec:authorize="hasAuthority('ROLE_CRITIC') and !hasAuthority('admin')"
            th:if="${certifiedBangerStatus == T(com.swdev.springbootproject.model.dto.MediaDto.CertifiedBangerStatus).NOT_CERTIFIED}"
            th:action="@{/app/certified/request(movieId=${movieId})}"
            method="post"
            onsubmit="this.querySelector('button').innerHTML='Pending'; this.querySelector('button').disabled=true;">
        <button type="submit" class="btn btn-outline-primary w-100">
            Request
        </button>
    </form>

    <button sec:authorize="hasAuthority('ROLE_CRITIC') and !hasAuthority('admin')"
            th:if="${certifiedBangerStatus == T(com.swdev.springbootproject.model.dto.MediaDto.CertifiedBangerStatus).REQUEST_PENDING}"
            class="btn btn-outline-primary w-100"
            disabled>
            Pending
    </button>
</div>