<tr th:fragment="userRow(user)"
    th:id="'user-row-' + ${user.id}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td>
        <span th:if="${user.certifiedCritic}" class="badge bg-success" th:text="#{critic.user.critic.badge}">zertifizierter Filmkritiker</span>
        <span th:if="${!user.certifiedCritic}" class="badge bg-secondary" th:text="#{critic.user.notCritic.badge}">kein Filmkritiker</span>
    </td>
    <td class="text-end">
        <form method="post"
              th:action="@{/admin/critics/{id}/update(id=${user.getId()})}"
              th:hx-post="@{/admin/critics/{id}/update(id=${user.getId()})}"
              th:hx-target="'#user-row-' + ${user.getId()}"
              hx-swap="outerHTML">
            <input type="hidden" name="certification" th:value="${!user.certifiedCritic}"/>
            <button type="submit"
                    class="btn btn-sm"
                    th:classappend="${user.certifiedCritic} ? ' btn-outline-danger' : ' btn-outline-primary'"
                    th:text="${user.certifiedCritic} ? #{critic.user.remove} : #{critic.user.certify}">
            </button>
        </form>
    </td>
</tr>