<div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/" th:text="#{landing.page-name}">Startseite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login" th:text="#{landing.login}">Einloggen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" th:text="#{landing.signup}">Registrieren</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto gap-2">
                        <li class="nav-item">
                            <div th:replace="fragments/language-switcher :: languageSwitcher"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div th:fragment="navbar_home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdownHome">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home" th:text="#{landing.page-name}">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mood" th:text="#{nav.mood}">Stimmung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/trends" th:text="#{nav.trends}">Trends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/profile" th:text="#{nav.profile}">Profil</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto gap-2">
                    <li class="nav-item">
                        <div th:replace="fragments/language-switcher :: languageSwitcher"></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="navbar_error">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
            <div class="collapse navbar-collapse" id="navbarNavDropdownError">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/" th:text="#{landing.page-name}">Startseite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login" th:text="#{landing.login}">Einloggen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" th:text="#{landing.signup}">Registrieren</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="mobile_navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="#{landing.login}">Einloggen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" th:text="#{landing.signup}">Registrieren</a>
                </li>
                <li class="nav-item">
                    <div th:replace="fragments/language-switcher :: languageSwitcher"></div>
                </li>
            </ul>

        </div>
    </nav>
</div>
<div th:fragment="mobile_navbar_home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/mood" th:text="#{nav.mood}">Stimmung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trends" th:text="#{nav.trends}">Trends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile" th:text="#{nav.profile}">Profil</a>
                </li>
                <li class="nav-item">
                    <div th:replace="fragments/language-switcher :: languageSwitcher"></div>
                </li>
            </ul>

        </div>
    </nav>
</div>
<div th:fragment="mobile_navbar_error">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="#{landing.login}">Einloggen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" th:text="#{landing.signup}">Registrieren</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<div th:fragment="mobile_navbar_signup">
    <nav class="navbar navbar-expand-lg navbar-dark bg-success text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><strong>CERTIFIED BANGERS</strong></a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/" th:text="#{landing.page-name}">Startseite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login" th:text="#{landing.login}">Einloggen</a>
                </li>
                <li class="nav-item">
                    <div th:replace="fragments/language-switcher :: languageSwitcher"></div>
                </li>
            </ul>

        </div>
    </nav>
</div>