<div th:fragment="mobile-navbar(activeTab)">
    <nav class="navbar navbar-dark bg-sidebar fixed-top d-md-none">
        <div class="container-fluid">
            <h6 class="navbar-brand">Menu</h6>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mobileMenu">
                <ul class="navbar-nav mt-3">
                    <li class="nav-item"><a href="/mood" class="nav-link text-white"
                                            th:classappend="${activeTab == 'mood'} ? 'active' : ''">Stimmung</a></li>
                    <li class="nav-item"><a href="/trends" class="nav-link text-white"
                                            th:classappend="${activeTab == 'trends'} ? 'active' : ''">Trends</a>
                    </li>
                    <li class="nav-item"><a href="/app/watchlist" class="nav-link text-white"
                                            th:classappend="${activeTab == 'watchlist'} ? 'active' : ''">Watchlist</a>
                    </li>
                    <li class="nav-item"><a href="/user/profile" class="nav-link text-white"
                                            th:classappend="${activeTab == 'profile'} ? 'active' : ''">Profil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>