<div th:fragment="movie_card_row(movies)"
     class="d-flex flex-row flex-nowrap gap-4 horizontal-scroll overflow-x-scroll w-100">
    <th:block th:with="movieDtoType=${T(com.swdev.springbootproject.model.dto.MediaDtoType)}">
        <a
                th:each="movie : ${movies}"
                hx-boost="false"
                th:href="@{${movie.type == movieDtoType.MOVIE
                ? '/app/movie/' + movie.id
                : '/app/tv/' + movie.id}}">
            <div style="width: 10rem"
                 th:with="fullPosterUrl=${T(com.swdev.springbootproject.service.TMDBService).POSTER_BASE_URL + movie.getPosterPath}">
                <div th:replace="~{fragments/movie_card :: movieCard(movieId=${movie.id}, certifiedBanger=${movie.certifiedBanger}, title=${movie.title}, posterUrl=${fullPosterUrl})}"></div>
            </div>
        </a>
    </th:block>
</div>