<div th:fragment="personCard(personId, posterUrl, name, popularity)"
     class="card movie-card h-100 shadow-sm position-relative">

    <div class="ratio d-flex align-items-center justify-content-center position-relative"
         style="--bs-aspect-ratio: 150%;">

        <img th:src="${posterUrl}"
             class="card-img-top object-fit-cover h-100 w-100 opacity-0"
             alt="Person Poster"
             data-script="
             on load
                call me.decode()
                log 'load'
                add .d-none to the next .placeholder-glow then
                remove .opacity-0 from me
             end

             on error
                log 'error'
                remove .placeholder-glow from the next .placeholder-glow
             end"
        >

        <p class="placeholder-glow w-100 h-100 position-absolute top-0 start-0 rounded-top">
            <span class="placeholder col-12 h-100 rounded-top"></span>
        </p>
    </div>
    <div class="card-body text-center d-flex align-items-center justify-content-center flex-column">
        <h5 th:text="${name}" class="card-title"></h5>
        <p th:text="${popularity} + ' ' + #{celebrities.point}" class="card-release-date text-muted"></p>
    </div>
</div>