<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Post Card</title>
</head>
<body>

<div th:fragment="post_card(postDto)" class="card mb-3">
    <img th:if="${postDto.media != null && !postDto.media.isEmpty()}"
         th:src="${'https://image.tmdb.org/t/p/w500' + postDto.media[0].posterPath}"
         class="card-img-top" alt="Related Media Image"
         style="height: 10rem; object-fit: cover; object-position: top;">

    <div class="card-header">
        <i class="bi bi-person-circle"></i>
        <th:block th:if="${!#strings.isEmpty(postDto.authorName)}">
            <a th:href="@{/app/user/{username}(username=${postDto.authorName})}" class="text-decoration-none" th:text="${postDto.authorName}"></a>
        </th:block>
        <th:block th:if="${#strings.isEmpty(postDto.authorName)}">
            <span>Anonymous</span>
        </th:block>
    </div>

    <div class="card-body">
        <p class="card-text" th:text="${postDto.content}" style="white-space: pre-wrap;"></p>
    </div>

    <ul class="list-group list-group-flush" th:if="${postDto.media != null && !postDto.media.isEmpty()}">
        <li th:each="media : ${postDto.media}" class="list-group-item" th:with="path=${media.type.name() == 'MOVIE' ? 'movie' : 'tv'}">
            <a th:href="@{/app/{path}/{id}(id=${media.id},path=${path})}" class="text-decoration-none">
                <i class="bi bi-film"></i>
                <span th:text="${media.title + ' (' + media.releaseDate + ')'}"></span>
            </a>
        </li>
    </ul>

    <div class="card-footer text-muted">
        <i class="bi bi-calendar-event"></i>
        <span>Jan 1, 2024</span>
        <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username == postDto.authorEmail}" class="float-end">
            <a href="#" class="btn btn-sm btn-primary" title="Edit Post"><i class="bi bi-pencil-square"></i></a>
            <a href="#" class="btn btn-sm btn-danger" title="Delete Post"><i class="bi bi-trash"></i></a>
        </div>
    </div>
</div>

</body>
</html>
