<div th:fragment="sidebar(activeTab)">
    <div id="sidebar" class="bg-sidebar p-3 collapse d-md-flex flex-column d-none d-md-block"
         style="width: 200px; height: 100vh;">
        <h5>Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="/mood" class="nav-link text-white"
                                    th:classappend="${activeTab == 'mood'} ? 'active' : ''">Stimmung</a></li>
            <li class="nav-item"><a href="/trends" class="nav-link text-white"
                                    th:classappend="${activeTab == 'trends'} ? 'active' : ''">Trends</a></li>
            <li class="nav-item"><a href="/app/watchlist" class="nav-link text-white"
                                    th:classappend="${activeTab == 'watchlist'} ? 'active' : ''">Watchlist</a></li>
        </ul>

        <div class="mt-auto mb-3" >
            <div class="dropdown dropup">
                <a href="/user/profile" class="text-decoration-none">
                    <button class="btn btn-outline-light w-100 d-flex align-items-center justify-content-start rounded-pill" type="button">
                            <span class="bg-light text-dark rounded-circle d-flex align-items-center justify-content-center me-2 p-1">
                                &#128126;
                            </span>
                        <span class="small text-truncate">User</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>