<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{scaffold}">
<head>
    <meta charset="UTF-8">
    <title>Movie Details</title>
</head>
<section layout:fragment="content">
    <header class="mb-4">
        <div class="container position-relative p-0">
            <div class="overflow-hidden">
                <div class="top-gradient"></div>
            </div>
            <img width="100%" th:src="${backdrop}" class="banner-img"/>
            <div class="position-absolute top-0 navbar navbar-dark z-1">
                <div class="container">
                    <div class="navbar-brand me-0 flex-grow-1">
                        <a class="icon-link nav-link" href="javascript:void(0)" th:onclick="history.back()">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <span class="me-2"></span>
                        <span th:text="${media.title}">Movie Details</span>
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-0 end-0 m-4" th:switch="${media.type.name()}">
                <th:block th:case="'MOVIE'" th:insert="::bookmark"></th:block>
                <th:block th:case="'TV'"></th:block>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row g-4">
                <div class="col-sm-4 col-12">
                    <img width="100%" th:src="${poster}"
                         class="shadow mb-4"/>
                    <p th:if="${media?.tagline != null and !#strings.isEmpty(media.tagline)}"
                       th:text="${'&quot;' + media.tagline + '&quot;'}">
                    </p>
                </div>
                <div class="col-sm-8 col-12">
                    <table class="table">
                        <tr th:if="${media.releaseDate}">
                            <th th:text="#{movie.details.releasedOn}">Veröffentlicht am</th>
                            <td th:text="${media.releaseDate}"></td>
                        </tr>
                        <tr th:if="${media.revenue}">
                            <th th:text="#{movie.details.revenue}">Umsatz</th>
                            <td>
                                <span th:text="${#numbers.formatDecimal(media.revenue, 0, 'COMMA', 0, 'POINT')}"></span>
                                <span th:text="#{movie.details.currency}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{movie.details.rating}">Bewertung</th>
                            <td>
                                <span th:text="#{movie.details.ratings(${media.voteAverage}, ${media.voteCount})}"></span>
                                <a class="icon-link nav-link" th:href="@{/app/movie/{id}/vote(id=${id})}">
                                    <i class="bi bi-envelope-paper-heart"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:if="${media.runtime}">
                        <tr>
                            <th>
                                <span th:text="#{movie.details.your.vote}">Ihre Abstimmung</span>
                                <th:block th:if="${rating == null}">
                                    <a class="icon-link nav-link" th:href="@{/app/movie/{id}/vote(id=${id})}">
                                        <i class="bi bi-envelope-paper-heart"></i>
                                    </a>
                                </th:block>
                                <th:block th:unless="${rating == null}">
                                    <a class="icon-link nav-link" th:href="@{/app/movie/{id}/vote(id=${id})}">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a class="icon-link nav-link" th:href="@{/app/movie/{id}/vote(id=${id})}">
                                        <i class="bi bi-trash3-fill"></i>
                                    </a>
                                </th:block>
                            </th>
                            <td>
                                <th:block th:if="${rating == null}">
                                    <span th:text="#{movie.details.no.votes}"></span>
                                </th:block>
                                <th:block th:unless="${rating == null}">
                                    <span th:text="${rating}"></span>
                                    <span th:text="#{movie.details.voted.at}"></span>
                                    <span th:text="${ratedAt}"></span>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{movie.details.duration}">Dauer</th>
                            <td>
                                <span th:text="${media.runtime}"></span>
                                <span th:text="#{movie.details.min}"></span>
                            </td>
                        </tr>
                    </table>
                    <h2 th:text="#{movie.details.overview}">Kurzbeschreibung</h2>
                    <p th:if="${media.overview != null and !#strings.isEmpty(media.overview)}"
                       th:text="${media.overview}">
                    </p>
                    <p class="text-muted"
                       th:unless="${media.overview != null and !#strings.isEmpty(media.overview)}"
                       th:text="#{movie.details.noOverview}">
                    </p>

                    <h2 th:text="#{movie.posts}">Posts</h2>
                    <div th:each="post : ${posts}">
                        <div th:replace="~{fragments/post_card :: post_card(postDto=${post})}"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</section>

<div class="dropdown" th:fragment="bookmark" hx-swap="none">
    <a href="#" data-bs-toggle="dropdown" class="link-light" hx-boost="false"
       th:hx-get="@{/app/movie/bookmarkDropdown(id=${id})}"
       hx-target="next .dropdown-menu" hx-swap="innerHTML">
        <i class="bi bi-bookmark-plus fs-1"></i>
    </a>
    <ul class="dropdown-menu">Loading...</ul>
</div>

<th:block th:fragment="bookmarkDropdown">
    <li>
        <button th:hx-post="@{/app/movie/{id}/bookmark(id=${id}, category='watch-later')}"
                class="dropdown-item"
                th:classappend="${activeTab == T(com.swdev.springbootproject.entity.BookmarkStatus).WATCH_LATER} ? 'active' : ''">
            <i class="bi bi-calendar-heart-fill pe-1"></i>
            <span th:text="#{movie.bookmark.watchLater}">Später anschauen</span>
        </button>
    </li>
    <li>
        <button th:hx-post="@{/app/movie/{id}/bookmark(id=${id}, category='in-progress')}"
                class="dropdown-item"
                th:classappend="${activeTab == T(com.swdev.springbootproject.entity.BookmarkStatus).IN_PROGRESS} ? 'active' : ''">
            <i class="bi bi-eye-fill pe-1"></i>
            <span th:text="#{movie.bookmark.inProgress}">Schaue gerade</span>
        </button>
    </li>
    <li>
        <button th:hx-post="@{/app/movie/{id}/bookmark(id=${id}, category='done')}"
                class="dropdown-item"
                th:classappend="${activeTab == T(com.swdev.springbootproject.entity.BookmarkStatus).DONE} ? 'active' : ''">
            <i class="bi bi-check-circle-fill pe-1"></i>
            <span th:text="#{movie.bookmark.done}">Gesehen</span>
        </button>
    </li>
    <li>
        <button th:hx-post="@{/app/movie/{id}/bookmark(id=${id}, category='abandoned')}"
                class="dropdown-item"
                th:classappend="${activeTab == T(com.swdev.springbootproject.entity.BookmarkStatus).ABANDONED} ? 'active' : ''">
            <i class="bi bi-x-octagon-fill pe-1"></i>
            <span th:text="#{movie.bookmark.abandoned}">Abgebrochen</span>
        </button>
    </li>
    <th:block th:if="${activeTab != null}">
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <button th:hx-delete="@{/app/movie/{id}/unbookmark(id=${id})}"
                    class="dropdown-item text-danger">
                <i class="bi bi-bookmark-x-fill pe-1"></i>
                <span th:text="#{movie.bookmark.remove}">Entfernen</span>
            </button>
        </li>
    </th:block>
</th:block>
</html>