<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{scaffold}">
<head>
    <meta charset="UTF-8">
    <title>Suche</title>
</head>
<section layout:fragment="content" class="bg-light">
    <div th:replace="~{fragments/mobile-nav :: mobile-navbar('search')}"></div>
    <div class="d-flex">
        <div th:replace="~{fragments/sidebar::sidebar('search')}"></div>
        <div class="container">
            <header class="mb-4">
                <h1 class="trend-title mb-4">Suche</h1>
                <div class="input-group mb-4">
                    <input id="search" name="search" placeholder="Suchen"
                           class="form-control"
                           type="search"/>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#filterModal">
                        <i class="bi bi-filter"></i>
                        Filtern
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <ul class="nav nav-pills">
                    <input type="hidden" id="searchType" name="searchType" value="movies">
                    <li class="nav-item">
                        <button class="nav-link active"
                           data-script="on click take .active from .nav-link then set #searchType.value to 'movies'">Filme</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link"
                           data-script="on click take .active from .nav-link then set #searchType.value to 'tv'">Serien</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link"
                           data-script="on click take .active from .nav-link then set #searchType.value to 'users'">Nutzer</button>
                    </li>
                </ul>
            </header>
            <main>
                <div id="results"
                     hx-get="/app/search/results"
                     hx-trigger="change from:#search, change from:#filterForm, click from:.nav-pills"
                     hx-include="#search, #filterForm, #searchType"
                     hx-target="this"></div>
            </main>
        </div>
        <div th:replace="~{::filterModal}"></div>
    </div>
</section>
<div class="modal fade" id="filterModal" tabindex="-1" th:fragment="filterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filtern</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body" id="filterForm">
                <div class="mb-2 form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isIncludeSeen" checked>
                    <label class="form-check-label" for="isIncludeSeen">Bereits gesehene Filme anzeigen</label>
                </div>
                <div class="mb-2">
                    <label for="genre" class="form-label">Genre</label>
                    <select class="form-select" id="genre">
                        <option selected>Alle</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="durationMin" class="form-label">Dauer (min)</label>
                    <div class="d-flex flex-row gap-2">
                        <input type="number" class="form-control" id="durationMin" placeholder="Mind.">
                        <input type="number" class="form-control" id="durationMax" placeholder="Max.">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="fsk" class="form-label">FSK</label>
                    <select class="form-select" id="fsk">
                        <option selected>Alle</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-2">
                    <label for="ratingMin" class="form-label">Bewertung</label>
                    <div class="d-flex flex-row gap-2">
                        <input type="number" class="form-control" id="ratingMin" placeholder="Mind.">
                        <input type="number" class="form-control" id="ratingMax" placeholder="Max.">
                    </div>
                </div>
                <div class="mb-2">
                    <label for="yearMin" class="form-label">Erscheinungsjahr</label>
                    <div class="d-flex flex-row gap-2">
                        <input type="number" class="form-control" id="yearMin" placeholder="Mind.">
                        <input type="number" class="form-control" id="yearMax" placeholder="Max.">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Zurücksetzen</button>
            </div>
        </div>
    </div>
</div>
</html>