<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/sidebar :: head('Trends')}"></head>
<body class="bg-light">
<div th:replace="~{fragments/sidebar :: mobile-navbar('trends')}"></div>
<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar('trends')}"></div>
    <div class="container-fluid p-3 mt-5 mt-md-0">
        <h3 class="trend-title mb-4">Aktuell im Trend</h3>
        <div class="row">
            <div th:each="movie : ${movies}" class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <div class="card movie-card h-100 shadow-sm">
                    <img th:src="${movie.getPosterUrl}" class="card-img-top" alt="Movie Poster">
                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                        <h5 th:text="${movie.title}" class="card-title"></h5>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="Seitennavigation" class="mt-5">
            <ul class="pagination justify-content-center mt-4">
                <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/trends(page=${currentPage - 1})}">&laquo;</a>
                </li>
                <li class="page-item" th:classappend="${i == currentPage} ? 'active'"
                    th:each="i : ${#numbers.sequence(1, 5)}">
                    <a class="page-link" th:href="@{/trends(page=${i})}" th:text="${i}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/trends(page=${currentPage + 1})}">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
