<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/sidebar :: head(${pageTitle})}"></head>
<body class="bg-light">
<div class="d-flex">
    <div th:replace="~{fragments/sidebar :: sidebar('trends')}"></div>
    <div class="container-fluid p-3">
        <h2 class="trend-title mb-4">Trending Movies</h2>
        <div class="row">
            <div th:each="movie : ${movies}" class="col-6 col-sm-4 col-md-3 col-lg-2 mb-3">
                <div class="card movie-card h-100 shadow-sm">
                    <img th:src="${movie.getPosterUrl}" class="card-img-top" alt="Movie Poster">
                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                        <h5 th:text="${movie.title}" class="card-title"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
