<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{scaffold}">
<head>
    <meta charset="UTF-8">
    <title>Votieren</title>
</head>
<section layout:fragment="content">
    <div th:replace="~{fragments/mobile-nav :: mobile-navbar('vote')}"></div>
    <div class="d-flex">
        <div th:replace="~{fragments/sidebar :: sidebar('vote')}"></div>
        <div class="container">
            <div class="container-fluid d-flex flex-column">
                <th:block th:if="${crud == 'create'}">
                    <h1 class="trend-title mb-4" th:text="#{vote.create.title}">Bewerte diesen Film</h1>
                    <section class="flex-grow-1 d-flex flex-row align-items-center justify-content-center">
                        <div class="w-100" style="max-width: 350px">
                            <form th:action="@{/app/movie/{id}/vote(id=${id})}" method="post">
                                <div class="mb-3">
                                    <label for="rating" class="form-label" th:text="#{rating.points}">Note (Ganzzahl zwischen 0 und 10)</label>
                                    <input type="number" name="rating" id="rating" min="0" max="10" step="1" class="form-control"/>
                                </div>

                                <div class="d-flex gap-1 mb-3">
                                    <button type="submit" class="btn btn-primary flex-grow-1" th:text="#{rating.submit.button}">
                                        <i class="bi bi-lock fixed-"></i>
                                        Note abgeben
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </th:block>

                <th:block th:if="${crud == 'update'}">
                    <h1 class="trend-title mb-4" th:text="#{vote.update.title}">Verändere meine Filmbewertung</h1>
                    <section class="flex-grow-1 d-flex flex-row align-items-center justify-content-center">
                        <div class="w-100" style="max-width: 350px">
                            <form th:action="@{/app/movie/{id}/revote(id=${id})}" method="post" id="update-form">
                                <div class="mb-3">
                                    <label for="re-rating" class="form-label" th:text="#{rating.points}">Note (Ganzzahl zwischen 0 und 10)</label>
                                    <input type="number" name="re-rating" id="re-rating" min="0" max="10" step="1" class="form-control"/>
                                </div>

                                <div class="d-flex gap-1 mb-3">
                                    <button type="submit" class="btn btn-primary flex-grow-1" th:text="#{rating.submit.button}">
                                        <i class="bi bi-lock fixed-"></i>
                                        Note abgeben
                                    </button>
                                </div>
                            </form>
                        </div>
                    </section>
                </th:block>

                <th:block th:if="${crud == 'delete'}">
                    <h1 class="trend-title mb-4" th:text="#{vote.delete.title}">Lösche meine Filmbewertung</h1>
                    <p th:text="#{vote.delete.confirm}">Ich möchte meine Bewertung für diesen Film löschen</p>
                    <button th:hx-delete="@{/app/movie/{id}/unvote(id=${id})}"
                            class="btn btn-primary dropdown-item text-danger">
                        <i class="bi bi-trash3-fill pe-1"></i>
                        <span th:text="#{vote.delete.button}">Löschen</span>
                    </button>

                    <div><meta http-equiv="refresh" content="5; url=/app/rated_movies"></div>
                </th:block>

            </div>
        </div>
    </div>
</section>
</html>