<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{scaffold}">
<head>
    <meta charset="UTF-8">
    <title>Watchlist</title>
</head>
<section layout:fragment="content" class="bg-light">
    <div th:replace="~{fragments/mobile-nav :: mobile-navbar('watchlist')}"></div>
    <div class="d-flex">
        <div th:replace="~{fragments/sidebar::sidebar('watchlist')}"></div>
        <div class="container">
            <header class="mb-4">
                <h1 class="trend-title mb-4">Meine gespeicherten Filme & Serien</h1>
                <div class="mb-4">
                    <label for="search" class="visually-hidden" th:text="#{watchlist.search.label}">Suchen</label>
                    <input id="search" name="search" th:placeholder="#{watchlist.search.placeholder}"
                           class="form-control"
                           type="search"/>
                </div>

                <ul class="nav nav-pills mb-4">
                    <input type="hidden" id="selectedTab" name="selectedTab" value="watch-later"/>
                    <li class="nav-item">
                        <button class="nav-link active"
                                data-script="on click take .active from .nav-link then set #selectedTab.value to 'watch-later' then send refreshResults to #results">
                            Später anschauen
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link"
                                data-script="on click take .active from .nav-link then set #selectedTab.value to 'watching' then send refreshResults to #results">
                            Schaue gerade
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link"
                                data-script="on click take .active from .nav-link then set #selectedTab.value to 'watched' then send refreshResults to #results">
                            Gesehen
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link"
                                data-script="on click take .active from .nav-link then set #selectedTab.value to 'dropped' then send refreshResults to #results">
                            Abgebrochen
                        </button>
                    </li>
                </ul>

            </header>
            <main>
                <div id="results"
                     hx-get="/app/watchlist/results"
                     hx-trigger="input from:#search delay:500ms, click from:.nav-pills, load"
                     hx-include="#search, #selectedTab"
                     hx-target="this"></div>
            </main>
        </div>
    </div>
</section>
</html>