<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{scaffold}">
<head>
    <meta charset="UTF-8">
    <title>Watchlist</title>
</head>
<section layout:fragment="content" class="bg-light d-flex">
    <div th:replace="~{fragments/mobile-nav :: mobile-navbar('watchlist')}"></div>
    <div th:replace="~{fragments/sidebar::sidebar('watchlist')}"></div>
    <header class="d-flex flex-row p-4 w-100 container p-3 mt-5 mt-md-0">
        <form role="search" class="flex-grow-1" method="get">
            <label for="search" class="visually-hidden" th:text="#{watchlist.search.label}">Suchen</label>
            <input id="search" name="search" th:placeholder="#{watchlist.search.placeholder}" class="form-control" type="search"/>
        </form>
    </header>
</section>
</html>