name: Check Formatting

on:
  pull_request:
    branches: [main]

jobs:
  check-formatting:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0

      - name: Set up JDK 25
        uses: actions/setup-java@v5.0.0
        with:
          java-version: "25"
          distribution: "temurin"

      - name: Check formatting
        run: ./mvnw spotless:check
